[Unit]
Description=sectalkd
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<user>
Group=<group>
ExecStart=/home/<user>/sectalkd
WorkingDirectory=/home/<user>/.sectalkd
Restart=on-failure
RestartSec=5
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target